.container {
  padding: 2rem 3rem;
  margin-top: 3rem;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.row h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.row h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.row p {
  font-size: 1.6rem;
}

.row a:link,
.row a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

.backButton {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background: none;
  font-weight: 700;
  border: 1px solid currentColor;
  margin-left: auto;
  width: max-content;
}
