.container {
  padding: 2rem 3rem;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.row h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.row h3 span {
  font-size: 3.2rem;
  line-height: 1;
  color: var(--color-brand--1);
}

.row p {
  font-size: 1.6rem;
}

.row a:link,
.row a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}
