.container {
  background-image:
    linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
    url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  gap: 2.5rem;
}

.content > a {
  padding: 1rem 1.3rem;
}

.title {
  font-size: 4.5rem;
  line-height: 1.3;
  text-align: center;
}

.paragraph {
  font-size: 1.9rem;
  width: 60%;
  text-align: center;
  color: var(--color-light--1);
}
