.container {
  background-color: var(--color-dark--1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: center;

  margin: 6rem auto;
  position: relative;
  gap: 1.5rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 2fr;
  gap: 2rem;
  background-color: var(--color-dark--2);
  border-radius: 4px;
  padding: 3rem;
  width: 100%;
  max-width: 48rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.form > a {
  width: max-content;
  padding: 0.6rem 1.3rem;
  justify-self: flex-end;
  margin-top: 1rem;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  position: relative;
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 1rem) center,
    calc(100% - 1rem) center;
  background-size:
    8px 8px,
    8px 8px;
  background-repeat: no-repeat;
}

.select::-ms-expand {
  display: none;
}

.select > option {
  background-color: var(--color-dark--2);
  color: var(--color-light--1);
  padding: 0.5rem 1rem;
}

.select option:hover,
.select option:focus {
  background-color: var(--color-dark--2);
  color: #fff;
}

.select option[selected],
.select option:checked {
  background-color: var(--color-brand--1);
  color: var(--color-dark--2);
}

.select optgroup {
  color: var(--color-light--2);
}

.preview {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  gap: 2rem;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 2rem;
  height: 100%;
}

.preview h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
