.container {
  background-color: var(--color-dark--1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7rem;
  max-width: 800px;
  margin: 6rem auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.content p {
  font-size: 1.6rem;
  color: var(--color-light--1);
}

.image {
  width: 100%;
  position: relative;
}

.image img {
  width: 100%;
}

.image::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: -5px;
  right: -10px;
  width: inherit;
  height: inherit;
  background-color: var(--color-dark--2);
  box-shadow: var(--shadow-md);
}
