.list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  transition: all 0.2s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.content {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.sigle {
  font-size: 2.6rem;
}

.cityName {
  font-size: 1.7rem;
  font-weight: 600;
}

.time {
  margin-left: auto;
  font-size: 1.5rem;
  white-space: nowrap;
}

.deleteButton {
  height: 25px;
  width: 25px;
  background-color: var(--color-dark--1);
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-light--3);
  font-size: 1.5rem;
  transition: all 0.2s ease;
}

.deleteButton:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}

.active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
}
