.containerProgress {
  width: 100%;
  margin: 0.6rem 0;
}

.counts {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}

.counts p {
  color: var(--text-muted);
  font-size: 0.9rem;
}

.progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 999px;
  margin-bottom: 8px;
}

.progress::-webkit-progress-bar {
  background-color: var(--text-default); /* Cor de fundo do trilho */
  border-radius: 999px;
}

.progress::-webkit-progress-value {
  background-color: var(--blue-default); /* Cor da barra de progresso */
  border-radius: 999px;
}
