.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1.6rem;
}

.item {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  text-align: center;
  gap: 0.2rem;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--1);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.item:hover {
  transform: translateY(-5px);
}

.sigle {
  font-size: 3rem;
  line-height: 1;
  user-select: none;
}

.cityName {
  font-size: 1.7rem;
  user-select: none;
}
