.aside {
  background-color: var(--color-dark--1);
  flex-basis: 57rem;
  flex-direction: column;
  padding: 3rem 5rem 3.5rem;
  align-items: center;
  height: 100%;
  max-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  background-color: var(--color-dark--2);
  border-radius: 4px;
  box-shadow: var(--shadow-sm);
}

.nav > a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 4px 0px 0px 4px;
  color: var(--color-light--1);
}

.nav > a:last-child {
  border-radius: 0px 4px 4px 0px;
}

.nav > a:global(.active) {
  background-color: var(--color-dark--0);
  color: #fff;
}

.content {
  width: 100%;
  height: 70vh;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.footer p {
  font-size: 1.2rem;
  color: var(--color-light--1);
}
