.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 5rem;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.link {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.link:last-child {
  padding: 0.6rem 1.3rem;
}
