.container {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  background-color: var(--color-dark--2);
}

.map {
  height: 100%;
}

.buttonContainer {
  position: absolute;
  bottom: 5rem;
  width: max-content;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}

.button {
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: var(--shadow-md);
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
}

/* ---- Leaflet config styles ---- */
:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

:global(.leaflet-popup .leaflet-popup-content) {
  font-size: 1.5rem;
  display: flex;
  align-items: last baseline;
  gap: 1rem;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
  font-size: 2.5rem;
  line-height: 1;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-dark--1);
}

:global(.leaflet-popup-content-wrapper) {
  border-left: 5px solid var(--color-brand--2);
}
